/* to have the same visual behaviour */

.area {
	box-sizing: border-box;
	padding: 0.6rem 1rem;
	
	
	/*transition: background-color 0.2s;*/
}
.B {
	background: hsl(200, 50%, 85%);
}
.A {
	background: hsl(240, 50%, 85%);
}
.done.B {
	background: hsl(200, 20%, 70%);
}
.done.A {
	background: hsl(240, 20%, 70%);
}
.done.area > h1 {
	text-decoration: line-through;
}

.area > h1 {
	position: relative;
	display: inline-block; 
	margin: 0;
	font-size: 1.3rem;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}

.area > .transports > .transport {
	position: relative;
	top: 0.15rem;
	left: 0.15rem;
	width: 2rem;
	height: 2rem;
	margin: -0.5rem 0 -0.2rem 0;
}

.area > .arrow{
	cursor: pointer;
	position: relative;
	top: 0.5rem;
	width: 2rem;
	transition: transform 0.2s;
}
.expanded .area .arrow {
	transform: scaleY(-1);
}

.areaDescription{
	box-sizing: border-box;
	padding: 0 0 0 2rem;
	max-height: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 0;
	
	transition: padding 0.2s, max-height 0.2s;
}

.expanded .areaDescription{
	font-size: 1rem;
	padding: 10px 10px 10px 2rem;
	max-height: 9999px;
}

.area > .missing {
	cursor: auto;
}